<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css"/>
    <title>LetterboxStats</title>
</head>
<body>
    <div class="overlay"></div>
    <nav>
        <h1>Compare your Letterbox profiles!</h1>
    </nav>
    <div class="redirections">
        <a href="/contact">
            <button class="contact-link">
                <p><b>Contact me!</b></p>
            </button>
        </a>
        <a href="/">
            <button class="go-back">
                <p><b>Go back</b></p>
            </button>
        </a>
    </div>
    <div class="usernames">
        <form class="form-usernames" method="POST" action="{{url_for('show_comparison')}}">
            <div class="u1">
                <p><b>Introduce the first username:</b>
                    <input name="username1" class="username" type="text"> 
                </p>
            </div>
            <div class="u2">
                <p><b>Introduce the second username:</b>
                    <input name="username2" class="username" type="text"> 
                </p>
            </div>
            <input class="submit2" type="submit" >            
        </form>
    </div>
    <footer>
        <p>Javier Pérez Vargas</p>
    </footer>
</body>
</html>