<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css"/>
    <title>LetterboxStats</title>
</head>
<body>
    <div class="overlay"></div>
    <nav>
        <h1>Comparation of {{username1}} and {{username2}}</h1>
    </nav>
    <div class="redirections">
        <div class="contact-link">
            <p><b>Click <a href="/contact">here</a> to contact me!</b></p>
        </div>
        <div class="go-back">
            <p>Go <b><a href="/">back</a></b></p>
        </div>
    </div>
    <div class="results">      
    </div>
    <footer>
        <p>Javier Pérez Vargas</p>
    </footer>
</body>
</html>