<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css"/>
    <title>LetterboxStats</title>
</head>
<body>
    <div class="overlay"></div>
    <nav>
        <h1>Comparation of {{username1}} and {{username2}}</h1>
    </nav>
    <div class="redirections">
        <div class="contact-link">
            <p><b>Click <a href="/contact">here</a> to contact me!</b></p>
        </div>
        <div class="go-back">
            <p>Go <b><a href="/compare-profiles">back</a></b></p>
        </div>
    </div>
    <div class="result-comparation">
        <table class="comparation">
            <thead>
                <tr>
                    <th>Film</th>
                    <th>Score: {{username1}}</th>
                    <th>Score: {{username2}}</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    {% for index, value in enumerate(row) %}
                    {% if index == 0 %}
                    <td class="first-column">{{value}}</td>
                    {% else %}
                    {% if (index == 1 and value > row[2]) or index == 2 and value > row[1] %}
                    <td class="green-cell">{{value}}</td>
                    {% else %}
                    <td class="red-cell">{{value}}</td>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>      
    </div>
    <footer>
        <p>Javier Pérez Vargas</p>
    </footer>
</body>
</html>