<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css"/>
    <title>LetterboxStats</title>
</head>
<body>
    <div class="overlay"></div>
    <nav>
        <h1>Contact me!</h1>
    </nav>
    <div class="go-back">
        <p><b>Go <a href="/">back</a></b></p>
    </div>
    <div class="contact">
        <h1>On Twitter... &emsp;&emsp;&emsp; <a href="https://twitter.com/javiipzv">
            <img src="../static/img/twitter.png" title="Twitter"></img>
        </a><br>
        On Github... &emsp;&emsp;&emsp;&emsp; <a href="https://github.com/javipzv">
            <img src="../static/img/github.png" title="Github"></img>
        </a><br>
        On Linkedin... &emsp;&emsp;&emsp; <a href="https://www.linkedin.com/in/javier-p%C3%A9rez-vargas-8002b9213/">
            <img src="../static/img/linkedin.png" title="Linkedin"></img>
        </a></h1>   
    </div>
    <footer>
        <p>Javier Pérez Vargas</p>
    </footer>
</body>
</html>