<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css"/>
    <title>LetterboxStats</title>
</head>
<body>
    <div class="overlay"></div>
    <nav>
        <h1>Welcome to this site! What do you want to do?</h1>
    </nav>
    <div class="first-contact-link">
        <p><b>Click <a href="/contact">here</a> to contact me!</b></p>
    </div>
    <div class="choose">
        <div class="option-one">
            <p><b>Click <a href="/profile">here</a> if you want to see your stats</b></p>
        </div>
        <div class="option-two">
            <p><b>Click <a href="/compare-profiles">here</a> if you want to compare two profiles</b></p>
        </div>     
    </div>
    <footer>
        <p>Javier Pérez Vargas</p>
    </footer>
</body>
</html>