<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css"/>
    <title>LetterboxStats</title>
</head>
<body>
    <div class="overlay"></div>
    <nav>
        <h1>Welcome to this site! What do you want to do?</h1>
    </nav>
    <a href="/contact">
        <button class="first-contact-link">
            <p><b>Contact me!</b></p>
        </button>
    </a>
    <div class="choose">
        <a href="/profile">
            <button class="option-one">
                <p><b>See your stats</b></p>
            </button>
        </a>
        <a href="/compare-profiles">
            <button class="option-two">
                <p><b>Compare two profiles</b></p>
            </button>
        </a>   
    </div>
    <footer>
        <p>Javier Pérez Vargas</p>
    </footer>
</body>
</html>