<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css"/>
    <title>LetterboxStats</title>
</head>
<body>
    <div class="overlay"></div>
    <nav>
        <h1>Most viewed directors and actors by {{username}}</h1>
    </nav>
    <div class="redirections">
        <a href="/contact">
            <button class="contact-link">
                <p><b>Contact me!</b></p>
            </button>
        </a>
        <a href="/profile">
            <button class="go-back">
                <p><b>Go back</b></p>
            </button>
        </a>
    </div>
    <div class="results">
        <div class="directors">
            <table>
                <thead>
                    <tr>
                        <th>Director</th>
                        <th>Films</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows_dir %}
                    <tr>
                        {% for col, row_ in zip(cols_dir, row) %}
                        <td>{{row_}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="actors">
            <table>
                <thead>
                    <tr>
                        <th>Actor</th>
                        <th>Films</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows_act %}
                    <tr>
                        {% for col, row_ in zip(cols_act, row) %}
                        <td>{{row_}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>      
    </div>
    <footer>
        <p>Javier Pérez Vargas</p>
    </footer>
</body>
</html>